#footerPoi {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(105,105,105,0.8);
}

#footerPosition {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(105,105,105,0.8);
}

a.accordion-toggle {
  display: block;
  padding: 10px  15px;
}

div.panel-heading {
  padding: 0;
}

.modal-body {
    max-height: 80vh; //Sets the height to 80/100ths of the viewport.
}

html, body, #map { 
	width:100%; 
	height:100%;
} 
 

#compass { 
	height: 100px;
	width: 100px;
	position: relative; 
	margin-right: 0;
	margin-left: auto; 	
}

#navbar {
	height: 10%;
}